table, td, th {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  font-weight: bold;
}

table {
  transition: linear opacity 0.5s;
  opacity: 1;
}

.faded {
  opacity: 0;
}