/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootswatch/dist/vapor/bootstrap.min.css';

html,
body {
  min-height: 100%;
}

.mainBody::before,
.mainBody::after {
  content: "";
  z-index: -100000000;
  position: fixed;
  top: 0;
  background-size: cover !important;
  bottom: 0;
  background: url("../../assets/heroes-side.png") no-repeat;
  /* height: 100%; */
  width: 250px;
  display: block;
}

.mainBody::before {
  left: 0;
}

.mainBody::after {
  right: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo-image:hover {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.logo-image {
  -webkit-app-region: no-drag;
  height: 30px;
  width: 30px;
  background: url("../../assets/icon.png") no-repeat center center;
  background-size: 100% 100%;
  margin-right: 8px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #6f42c1;
  border-radius: 10px;
  border: 3px solid transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #6610f2;
}
